/*BUTTON*/
.about,
.skills-general,
.skills,
.education,
.experience,
.resume {
    margin-bottom: 20px;
}

.header-about {
    margin-bottom: 12px;
}

.about-img {
    height: 300px;
}

.skills > div:nth-child(2) {
    margin-top: 25px;
}

.education,
.experience,
.education > div:nth-child(2),
.experience > div:nth-child(2) {
    margin-top: 25px;
}

.experience {
    margin-bottom: 50px;
}

.education > div:nth-child(3) {
    margin-top: 24px;
}

.education h3, .experience h3 {
    padding-top: 5px;
}

.cursiv {
    font-style: italic;
    font-size: 13px;
}

/*BUTTON*/
.resume {
    @include button-secondary;
}

.span,
.skills-design {
    display: inline-block;
    background-color: $primary-color;
    color: $white;
    border-radius: 12px;
    padding: 5px 15px;
    max-width: max-content;
    font-size: 0.833rem;
    margin: 6px 6px 6px 0;
}

/* Media queries for larger screens */
@media only screen and (min-width: 700px) {
    .skills-general,
    .skills,
    .education,
    .experience {
        padding: 25px 0 0 0;
    }

    .education h3, .experience h3 {
    padding-top: 15px;
}

    .about-text {
        display: grid !important; /* !important for å sjekke om noe annet overstyrer */
        grid-template-columns: auto 1fr;
        align-items: center; /* Vertikal sentrering */
        justify-content: start; /* Horisontal sentrering til venstre */
        gap: 60px;
    }

    .about-img {
        max-height: 100%;
        width: auto;
        object-fit: contain;
        justify-self: start;
    }

    .skills {
        @include grid-2;
        grid-gap: 30px;
    }

    .skills > div:nth-child(2) {
        margin-top: 0;
    }
}
