.about,
.skills-general,
.skills,
.education,
.experience,
.resume {
    margin: 20px;
}


.about-img {
    height: 70%; 
}

.skills > div:nth-child(2) {
    margin-top: 25px;
}

.education,
.experience,
.education > div:nth-child(2),
.experience > div:nth-child(2) {
    margin-top: 25px;
}

.experience {
    margin-bottom: 50px;
}

.education > div:nth-child(3) {
    margin-top: 35px;
}

.cursiv {
    font-style: italic;
    font-size: 13px;
}

/*BUTTON*/
.resume {
    @include button-secondary;
}

.span, .skills-design {
    display: inline-block;
    background-color: $primary-color;
    color: $white;
    border-radius: 12px;
    padding: 5px 15px;
    max-width: max-content;
    font-size: 0.833rem;
    margin: 6px 6px 6px 0;
}

/* Media queries for larger screens */
@media only screen and (min-width: 500px) {
    .skills-general,
    .skills,
    .education,
    .experience {
        padding: 25px 0 0 0;
    }

    .about-text {
        @include grid-2;
    }
    
    .about-img {
        float: left; 
    }
    

    .skills {
        @include grid-2;
        grid-gap: 30px;
    }

    .skills > div:nth-child(2) {
        margin-top: 0;
    }
}
