footer {
    text-align: center;
    @include center-vh;
    flex-direction: column;
   
    img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }

    img:hover {
        opacity: 0.5;
    }

    div {
        padding: 10px;
    }
    
    p {
        margin: 0;
    }
}


.footer {
    width: 100%;
}

/* Styles for top section of footer */
.top-footer {
    padding: 30px 0;
    background-color: $secondary-color;
}

/* Styles for bottom section of footer */
.bottom-footer {
    background-color: white;
}

/* Styles for footer text and links */
footer,
footer a {
    color: $black;
    text-decoration: none;
}

.scroll a {
    text-decoration: underline;
}

.social-media {
    display: flex;
    gap: 10px; /* Adjust the spacing between icons as needed */
    justify-content: center;
    align-items: center;
}

/* Styles for copyright text */
.copyright {
    font-size: 0.833rem;
}
