nav,
.welcome {
    background-color: white;
}

/* Styles for container */
.container {
    @include grid-2; /* Apply grid with 2 columns */
    @include grid-vertical; /* Arrange items vertically within the grid */
}

/* Styles for index cards */
.index-card {
    display: grid;
    grid-gap: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 80vh;
    padding: 0 40px;

    margin-bottom: 40px;
}

.welcome-header {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

/* Styles for button */
.button-project {
    @include button-secondary;
    margin-top: 25px;

    a {
        display: inline-flex;
        align-items: center;
    }

    img {
        width: 12px;
        height: auto;
        margin: 0 8px 0 2px;
    }
}

.button-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 10px; 
}

.button {
    flex: 1 1 auto; /* allows buttons to grow and shrink */
    max-width: 45%; 
    min-width: 100px; 
}



.spacing {
    margin: 55px;
}

.line {
    @include line;
}

/* Styles for portfolio section heading */
h2#portfolio {
    margin: 0 0 40px 0;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
        margin: 0; /*fjern?*/ /* Remove default margin */
    }

    /* Styles for spans within text */
    span {
        background-color: $white;
        color: black;
        margin: 18px 15px 4px 0;
        /*border: 0.1px solid #DADEDF;*/

        @include shadow;
    }
}

/* Media queries for larger screens */
@media only screen and (min-width: 770px) {
    .index-card {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0; /* Removes the gap between rows */
            grid-gap: 45px;

    }

    .spacing {
        margin: 125px;
    }

}

/* Media queries for even larger screens */
@media only screen and (min-width: 1000px) {
    .index-card.three-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}




 

/* Make the body background fixed 
body {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(160,149,175,1) 50%, rgba(255,255,255,1) 100%);
background-attachment: fixed;
}

/* Floating project cards 
.index-card {
    position: relative;
    z-index: 2;
    background: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}*/

