nav {
  overflow: hidden;
  padding: 30px;

  
  li {
    margin-top: 40px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    flex-direction: column;
    margin-top: 65px;
  }

  a {
    display: block;
    color: black;
    text-align: center;
   
    text-decoration: none;
  }

  /* Styling for when nav is active */
  &.active {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    height: 100vh;
    overflow: hidden;
    

    ul {
      display: flex;
      padding-top: 20px;
      text-align: center;
      animation: slideDown 0.5s ease-out;
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

ul a.underline {
  display: inline-block;
  
}

/* To prevent scrolling of the body when the nav is active 
body.nav-active,
html.nav-active {
  overflow: hidden;
}*/

.menu-logo {
  float: left;
  cursor: pointer;


  img {
    max-height: 40px;
  }
}

/* Styling for the hamburger icon */
.hamburger-cross {
  float: right;
  cursor: pointer;
  margin-right: 13px;
  pointer-events: auto;
}

/* Styling for the bars in the hamburger icon */
.bar1,
.bar2,
.bar3 {
  width: 28px;
  height: 3.5px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

/* Styling for the bars when the hamburger icon is clicked */
.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

/* Media query for larger screens */
@media only screen and (min-width: 770px) {
  /* Display the ul list as a horizontal row and align it to the right */
  nav ul {
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 10px;
  }

  /* Add margin to the left of each list item */
  nav li {
    margin-left: 40px;
    margin-top: 0;
  }



  /* Hide the hamburger icon on larger screens */
  .hamburger-cross {
    display: none;
  }
}
