// Define primary colors
$primary-color: #a095af;
$secondary-color: #DADEDF;

$primary-colo: #BCAFCE;
$secondary-colo: #d8cfd0;

// Define basic colors
$black: #000000;
$white: #ffffff;

// Define dark grey color
$dark-grey: #999;

// Define spacing
$spacing: 2rem;

// Define specific color for different courses
$myrsund-color: #ac2022;
$IDG2012-color: #006081;
$IDG2000-color: #14733D;

// Myrsund Mekaniske
.solution.myrsund, .header.myrsund {
  background-color: $myrsund-color;
color: white;
}

.myrsund .short-underline::before {
  background-color: $myrsund-color;
  color: $myrsund-color;
}

// IDG2012
.solution.IDG2012, .header.IDG2012 {
    background-color: $IDG2012-color;
  color: white;
}

.IDG2012 .short-underline::before {
    background-color: $IDG2012-color;
    color: $IDG2012-color;
}

// IDG2000
.solution.IDG2000, .header.IDG2000 {
  background-color: $IDG2000-color;
color: white;
}

.IDG2000 .short-underline::before {
  background-color: $IDG2000-color;
  color: $IDG2000-color;
}




