/*https://www.freecodecamp.org/news/how-to-use-sass-with-css/*/

/* file import */
@import "_navbar";
@import "_mixins";
@import "_variables";
@import "_accessibility";
@import "_home-page-layout";
@import "_footer";
@import "_project-layout";
@import "_about";

:root {
  /*base font size */
  font-size: 16px;
}

@font-face {
  font-family: "poppinsRegular";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppinsLight";
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "poppinsMedium";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}


@font-face {
  font-family: "interLight";
  src: url("../assets/fonts/Inter/Inter-Light.ttf");
}


@font-face {
  font-family: "playfairRegular";
  src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}



/* Apply outline to all elements
* {
  outline: 1px solid red; 
}*/






/* Reset and default styles for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: interLight;
  font-size: 16px;

  line-height: 1.5;
}

*:focus {
  outline: 2px solid $primary-color;
}


/* Body and HTML styles */
html {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  letter-spacing: 0.03em;
}


main {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 40px;
}


img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video {
  width: 100%;
  height: auto;
  max-width: 100%; /* Ensures it doesn't exceed the container's width */
  display: block; /* Removes any default inline spacing */
}

iframe {
  max-width: 100%;
  min-height: 450px;
  width: 100%;
}


header {
  margin: 0 auto;
  max-width: 1280px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 5px;
}

h1 {
  font-size: 2.2rem;
   font-family: playfairRegular;
   word-spacing: 0.04em;
  
}

h2 {
  font-size: 1.3rem;
  padding-top: 15px;
}

h3 {
  font-size: 1.1rem;
  padding-top: 15px;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

/*.small {
  font-size: 0.833rem;
}

.smaller {
  font-size: 0.694rem;
}*/

a:hover {
  color: $primary-color;
  opacity: 0.8;
  font-weight: bold;
}

/*active link */
.underline {
  border-bottom: 4px solid $primary-color;
  border-radius: 2px;
}

/*heading*/
.short-underline {
  position: relative;
  display: inline-block;
  /* Sørger for at bakgrunnen bak teksten er hvit om nødvendig */
  background-color: white; 
}

.short-underline::before {
  content: '';
  position: absolute;
  bottom: -6px; /* Plassering under teksten */
  left: 0;
  width: 70px;  /* Lengden du hadde fra før */
  height: 7px; /* Litt tykkere for at pensel-effekten skal syns */
  
  /* Her bruker vi variabelen din */
  background-color: $primary-color;

  /* Denne masken lager pensel-formen */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20" preserveAspectRatio="none"><path d="M0,10 C20,5 40,15 60,8 C80,2 90,12 100,7 L100,15 C85,18 70,10 50,15 C30,20 10,12 0,16 Z" fill="black"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20" preserveAspectRatio="none"><path d="M0,10 C20,5 40,15 60,8 C80,2 90,12 100,7 L100,15 C85,18 70,10 50,15 C30,20 10,12 0,16 Z" fill="black"/></svg>');
  
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  /* Litt rotasjon for å fjerne det "stive" preget */
  transform: rotate(1.1deg);
}

.design-process h2 {
  font-size: 1.7rem;
}



.swap-content {
  display: grid;
  grid-template-areas:
    "swapimg"
    "swaptext";
}

.swap-img {
  grid-area: swapimg;
}

.swap-text {
  grid-area: swaptext;
}

/* Media queries for larger screens */
@media only screen and (min-width: 770px) {
  .swap-content {
    display: grid;
    grid-template-areas:
      "swaptext swapimg"
      "swaptext swapimg";
      row-gap: 0; /* Removes the gap between rows */
  }
}
