/*https://www.freecodecamp.org/news/how-to-use-sass-with-css/*/

/* file import */

@import "_home-page-layout";

:root {
  /*base font size */
  font-size: 16px;
}

@font-face {
  font-family: "poppinsRegular";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppinsBold";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}



/* Apply outline to all elements 
* {
  @include outline;
}*/





/* Reset and default styles for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: poppinsRegular;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.03em;
  word-spacing: 0.035em;
}




img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video {
  width: 100%;
  height: auto;
  max-width: 100%; /* Ensures it doesn't exceed the container's width */
  display: block; /* Removes any default inline spacing */
}

iframe {
  max-width: 100%;
  min-height: 450px;
  width: 100%;
}


header {
  margin: 0 auto;
  max-width: 1280px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 5px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
  padding-top: 15px;
}

h3 {
  font-size: 1.2rem;
  padding-top: 15px;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}
