p {
    margin-top: 7px;
    margin-bottom: 15px;
}

.title {
    font-size: 2.488rem;
    text-align: center;
}

.problem-statement,
.design-process,
.solution,
.learned,
.my-work {
    @include center-content;
}

.display {
    padding: 30px 0;

    h2 {
        margin-top: 30px;
    }
}

.mobile-mockup {
    max-height: 500px;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-self: center;
}

.button-github {
    @include button-primary;
}

ul {
    margin-left: 30px;
}

.solution {
    text-align: center;
    padding: 20px;
}

.showcase1,
.showcase2 {
    background-color: $white;
    @include center-vh;
    border-radius: 6px;
    @include shadow;

    p {
        margin: 0 13px;
    }
}

.my-work {
    display: grid;
    grid-template-areas:
        "work"
        "showcase1"
        "showcase2";
    gap: 30px;
    margin-bottom: 50px;
}

.work {
    grid-area: work;
}

.showcase1 {
    grid-area: showcase1;
    @include grid-vertical;
}

.showcase2 {
    grid-area: showcase2;
    @include grid-vertical;
}

/* Separator line styles */
.line {
    margin: 20px auto;
}

/* Media queries for larger screens */
@media only screen and (min-width: 770px) {
    .problem-statement,
    .learned {
        max-width: 80%;
    }

    .time,
    .display {
        @include grid-2;
    }

    .display {
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }

    .display div {
        margin-left: 60px;
    }

    .display.swap-content div {
        margin-right: 60px;
    }

    .mobile-mockup {
        max-height: 600px;
    }

    .solution-showcase {
        @include grid-3;
        grid-gap: 50px;
    }

    .my-work {
        display: grid;
        grid-template-areas:
            "work"
            "showcase1"
            "showcase2";
    }

    .work {
        grid-area: work;
    }

    .my-work {
        grid-template-areas:
            "work work"
            "showcase1 showcase2";
    }

    .showcase1,
    .showcase2 {
        @include grid-2;
    }

    .learned {
        height: 40vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: left;
    }

    .line {
        margin: 40px auto;
    }
}
